* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0f0f0f;
}

.videoButtons {
    display: flex;
    gap: 3vw;
    position: absolute;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: 4vh;
    cursor: pointer;
}

.singleVideoButton {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    width: 2.917vw;
}

.videoDialogPlaylists {
    margin-top: 2vh;
    width: 13vw;
    height: 45vh;
    display: flex;
    margin-left: 2vh;
    flex-direction: column;
}

