* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videoPageContainer {
    margin-top: 1vh;
    height: 90vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 1.4vw;
}

.videoDetails {
    height: 75.392vh;
    width: 66.667vw;
    /* border: 1px solid blue; */
}

.recommended {
    position: relative;
    height: fit-content;
    width: 20.938vw;
    /* border: 1px solid green; */
}

.descriptionAndComments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.placeholderdiv {
    height: 10vh;
}

.recommendedVideosSpinner{ 
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}