* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videoPageContainer {
    margin-top: 1vh;
    height: 90vh;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 1.4vw;
}

.videoDetails {
    height: 720px;
    width: 1280px;
    /* border: 1px solid blue; */
}

.recommended {
    height: fit-content;
    width: 402px;
    /* border: 1px solid green; */
}

.descriptionAndComments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.placeholderdiv {
    height: 10vh;
}