.hover {
    color: #0000;
    background:
        linear-gradient(90deg, #1095c1 50%, #000 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
}

.hover:hover {
    --_p: 0%;
}

.card {
    /* position: relative; */
    transition: transform .75s;
}

/* .cardImage { */
/* position: absolute; */
/* inset: 0; */
/* width: 100%;
    height: 100%; */
/* object-fit: cover; */
/* opacity: .6; */
/* transition: transform .75s; */
/* } */

/* .card:hover .cardImage {
    transform: scale(1.15);
    cursor: pointer;
} */

.card:hover {
    transform: scale(1.15);

    -webkit-box-shadow: 0px 0px 65px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 65px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 65px -4px rgba(0, 0, 0, 1);
}