.viewPlaylists {
    margin-top: 1vh;
    width: 13vw;
    /* height: 45vh; */
    display: flex;
    margin-left: 2vh;
    flex-direction: column;
}

.createNewPlaylistDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createNewPlaylistDiv input {
    width: 85%;
}

.dotsDialog {
    width: 200px;
}

.dotsDialogInput {
    font-size: 0.9rem;
    height: 26px;
    padding-left: 2px;
}