.searchFeedMainContainer {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
}

.searchCardContainer {
    display: flex;

    height: 94vh;
    width: 100%;

}

.searchCardsScrollContainer {
    overflow-y: scroll;
    width: 100%;
    padding-left: 14%;
}