* {
    color: #030303;
}

.commentsWrapper {
    position: relative;
    height: fit-content;
    width: 100%;
}

.personalComment {
    height: 13vh;
    position: relative;
}

.sortCommentsSection {
    display: flex;
    gap: 2vw;
}

.commentSort {
    display: flex;
    gap: 0.3vw;
    cursor: pointer;
}

.profilePic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.addCommentSection {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.addOwnComment {
    width: 100%;
    align-self: flex-start;
    padding-bottom: 2% !important;
}

.otherComments {
    position: relative;
    margin-top: 1vh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.commentsScrollSpinner {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.AddCommentButtons {
    position: absolute;
    right: 0;
    bottom: -10%;
}