.playlistsPageContainer {
    padding: 20px;
}

.playlistsCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
