.playlistCard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 85%;
    height: 13vh;
}

.playlistCardInnerDiv {
    display: flex;

}

.playlistCardImg {
    /* width: 100%; */
    height: 100%;
}

.playlistCardRightPart {
    padding: 5px 10px 10px 10px;
}


.playlistCardTitle {
    width: 100%;
}

.playlistCardSubtitle {}