.playlistCard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 85%;
    height: 13vh;
}

.playlistCardInnerDiv {
    display: flex;

}

.playlistCardImg {
    margin: 0px 5px 0px 0px;
    height: 100%;
    border-radius: 10px;
    transition: transform .75s;
}

.playlistCardRightPart {
    padding: 5px 10px 10px 10px;
}


.playlistCardTitle {
    width: 100%;
}

.playlistCardSubtitle {}

.playlistCard:hover {
    background-color: whitesmoke;
}

.playlistCard:hover .playlistCardImg {
    transform: scale(1.15);
}

.removeAlbumBtn {
    align-self: center;
}