.playlistCard {
    display: flex;
    padding: 10px;
    width: 85%;
    height: 13vh;
}

.playlistCardImg {
    /* width: 100%; */
    height: 100%;
}

.playlistCardRightPart {
    padding: 5px 10px 10px 10px;
}

.playlistCardTitle {}

.playlistCardSubtitle {
    
}