/* .search-bar {
    width: 25vw;
    height: 4vh;
    font-size: 1.2rem;

}

.search-bar {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.search-bar:focus {
    outline: none;
} */


.MuiAutocomplete-inputRoot {
    flex-wrap: nowrap !important;
    height: 44px !important;
    padding: 10px 5px 10px 5px !important;

}

.searchBarLink {
    text-decoration: none;
    color: black;

}

.searchBarh4 {
    padding: 0px 2px 0px 5px;
}

.searchBarLink:hover {
    background-color: darkgrey;

}

.muiSearchBox {
    display: flex;
    align-items: center;
}

.KeyboardVoiceIcon {
    transform: translate(200%);
}

.voiceSearchWrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
    border: 2px solid #000;
    background-color: white;
    box-shadow: 24;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}