.header {
    width: 100vw;
    height: 6.1vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.ytlogo {
    width: 5vw;
    display: block;
}

.headerLeft {
    margin-left: 2vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}


.headerRight {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
    gap: 0.7vw;
    width: 8.9vw;
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.muiList {
    position: absolute;
    right: 0;
    /* bottom: -25vh; */
    width: 15vw !important;
    z-index: 1;
    opacity: 1;
}

.MoreVertIcon {
    cursor: pointer;
}
.muiMenu {
    position: absolute;
    /* right: 500px !important; */
}