.header {
    width: 100vw;
    height: 6.1vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ytlogo {
    width: 5vw;
}

.headerLeft {
    margin-left: 2vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.headerCenter {
    height: 4vh;
}

.searchbar {
    text-align: start;
    width: 33vw;
    height: 100%;
    font-size: 1.2rem;
}

.searchIcon {
    background-color: #f0f0f0;
    height: 4vh;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
    gap: 0.7vw;
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}