.pListCard {
    display: flex;
    width: 15%;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 56px -3px rgba(112, 106, 112, 1);
    -moz-box-shadow: 0px 0px 56px -3px rgba(112, 106, 112, 1);
    box-shadow: 0px 0px 56px -3px rgba(112, 106, 112, 1);
}

.pListCardImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.videosInfoDIv {
    bottom: 8px;
    position: absolute;
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.videosInfoDIv span {
    color: white;

}