.sidebar-menu-Feed {
    background-color: #ffffff;
    opacity: 1;
    width: 170px;
    height: 22vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 11vh;
    left: -100%; 
    transition: 850ms;
    z-index: 11;
    border: 2px solid darkgrey;
    border-radius: 20px;
    overflow: auto
}

.sidebar-menu-Feed.active {
    left: 5px;
    transition: 350ms;
}


.item-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;

}

.item-text a {
    text-decoration: none;
    color: "#000000";
    /* font-size: 1vw; */
    font-size: 1rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.item-text a:hover {
    background-color: #606265;
}

.sidebar-ul {
    width: 100%;
    padding-left: 15px;
}



span {
    margin-left: 16px;
}