#sidebar {
    width: 250px;
    /* position: fixed; */
}

/* .searchFeedSidebarContainer {
    color: "#fff";
    background-Color: "#ffffff";
    height: 92vh;
    border-right: 1px solid #3d3d3d;
    padding: 0 2px 0 2px;
    width: 230px;
} */