/* .categoriesBar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    border: 1px 0px 1px 0px;
    border-color: solid gray;
    padding: 10px 0px 10px 30px;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: center;

} */

/* 
* {
    outline: 1px solid #f00 !important;
  } */