* {
    color: #030303;
}

.commentsWrapper {
    height: 80vh;
    width: 100%;
    /* border: 1px solid red; */
   
}

.personalComment {
    height: 13vh;
    /* border: 1px solid blue; */
    /* display: flex;
    flex-direction: column;
    gap: 20%; */
    position: relative;
}

.sortCommentsSection {
    display: flex;
    gap: 2vw;
}

.commentSort {
    display: flex;
    gap: 0.3vw;
    cursor: pointer;
}

.profilePic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.addCommentSection {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.addOwnComment {
    width: 100%;
    align-self: flex-start;
    padding-bottom: 2% !important;
}

.otherComments {
    margin-top: 1vh;
    width: 100%;
    height: 400vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}