@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" !important;

}