
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0f0f0f
}

.videoInformationContainer {
    position: relative;
    margin-top: 1.5vh;
    width: 100%;
    height: 7.5vh;
    border-bottom: 1px solid #0000001a;
}


.videoTitle {
    margin-bottom: 1.1vh;
    font-size: 1.05em;
}

.videoViews {
    font-size: 0.9rem;
    color: #606060;
}